<div>
<% @books.each do |book| %>
  <span class="Show"><%= link_to "Show", book_path(book.id) %></span>
  <span class="Edit"><%= link_to "Edit", edit_book_path(book.id) %></span>
  <span class="destroy"><%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか?" %></span>
<% end %>
</div>



